{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
Личный кабинет
{% endblock %}

{% block body %}
    <div id="orders">
        <h2>Список заказов</h2>
        <ul id="order-list">
            <li>
                <div class="order">
                    <p><span class="bold">Адрес доставки:</span> Кабинет 201</p>
                    <p><span class="bold">Список продуктов:</span></p>
                    <ul>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                    </ul>
                    <p><span class="bold">Стоимость: </span> 20000 p.</p>
                </div>
            </li>

            <li>
                <div class="order">
                    <p><span class="bold">Адрес доставки:</span> Кабинет 201</p>
                    <p><span class="bold">Список продуктов:</span></p>
                    <ul>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                    </ul>
                    <p><span class="bold">Стоимость: </span> 20000 p.</p>
                </div>
            </li>

            <li>
                <div class="order">
                    <p><span class="bold">Адрес доставки:</span> Кабинет 201</p>
                    <p><span class="bold">Список продуктов:</span></p>
                    <ul>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                        <li>
                            <div class="item">
                                <img src="http://2.bp.blogspot.com/-d3BCIYnJcSg/UBjvvSee2TI/AAAAAAAAAKM/CzYoimr2KDg/s1600/karas.jpg" alt="123" >
                                <p>Карась</p>
                                <p>10 шт.</p>
                            </div>
                        </li>
                    </ul>
                    <p><span class="bold">Стоимость: </span> 20000 p.</p>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/orders_update.js' %}"></script>
{% endblock %}
