{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block title %}
Личный кабинет
{% endblock %}

{% block body %}
    <div id="orders">
        <h2>Список заказов</h2>
        <ul id="order-list">
            <li class="empty">
                У вас пока нет новых заказов...
            </li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/orders_update.js' %}"></script>
{% endblock %}
