{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/take_delivery.css' %}">
{% endblock %}

{% block title %}
Принять поставку
{% endblock %}

{% block body %}
    <div id="take-delivery">
        <h2>Принять поставку</h2>
        <table class="iksweb">
            <thead>
            <tr>
                <th>Название</th>
                <th>Изображение</th>
                <th>Цена</th>
                <th>Кол-во на складе</th>
                <th>Поставка</th>
            </tr>
            </thead>
            <tbody id="product-list">
            
            </tbody>
        </table>
        <input type="submit" value="Принять поставку" id="take_btn">
    </div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/take_delivery.js' %}"></script>
{% endblock %}
