@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,800;1,200&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 1080px;
}
