table.iksweb{text-decoration: none;border-collapse:collapse;width:100%;text-align:center;}
table.iksweb th{font-weight:500;font-size:18px; color:#ffffff;background-color:#565656;}
table.iksweb td{font-size:16px;color:#565656;}
table.iksweb td,table.iksweb th{white-space:pre-wrap;padding:10px 9px;line-height:16px;vertical-align: middle;border: 1px solid #565656;}	table.iksweb tr:hover{background-color:#f9fafb}
table.iksweb tr:hover td{color:#565656;cursor:default;}
table.iksweb {
    margin: 20px 0;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

#take-delivery {
    padding: 20px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    margin: 40px 0;
}

.product-img {
    width: 200px;
}

#take_btn {
    padding: 10px;
    font-size: 16px;
    background-color: #565656;
    color: white;
    border: none;
}
